# Ensure consistent line endings
* text=auto

# Treat script files as text
*.py text eol=lf
*.sh text
*.c  text eol=lf
*.h  text eol=lf
*.md text
*.txt text
makefile text

# Prevent accidental Git diff on binaries
*.zip binary
*.tar binary
*.paf binary

# Ignore test artifacts
test/output/* linguist-vendored
examples/testdir/* linguist-vendored
